################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/workspaces/Zaker_Academy/Zaker_Academy.infrastructure/bin/Debug
/workspaces/Zaker_Academy/Zaker_Academy.core/bin/Debug/net7.0